<!doctype html>
<html lang=en>
<head>
<!-- Page title: add the name of the page after the colon to better identify the particular page in the browser -->
<title>NBI Wireframe</title>
<meta charset=utf-8 >
<meta name= "author" content="Brian Bansenauer" >
</head>
<body>
<!-- Site heading information to identify the company and its purpose : showing on every page in the site -->
<header>
  <h1>Northwest Basketball Institute</h1>
</header>
<!-- Main site navigation: showing on every page in the site -->
<nav><ul>
  <li><a href="index.html">Home</a></li>
  <li><a href="camps.html">Camps&amp;Clinics</a></li>
  <li><a href="about.html">About NBI</a></li>
  <li><a href="events.html">Upcomming Events</a></li>
  <li><a href="teams.html">Teams</a></li>
</ul></nav>
<!-- Content particular to each page in the site: Add page content here -->
<section id="content">
  <h2>Camps and Clinics</h2>
  <ul>
    <li>Description of camps and clinics offered</li>
    <li>sign up for clinics</li>
    <li>photo of people at a camp.</li>
  </ul>
</section>
<!-- Overall site details: showing on every page in the site -->
<footer>
  <p>Thank you to Sponsors </p>
</footer>
</body>
</html>
