<!doctype html>
<html lang=en>
<head>
<!-- Page title: add the name of the page after the colon to better identify the particular page in the browser -->
<title>FABYI Wireframe</title>
<meta charset=utf-8 >
<meta name= "author" content="Gang Ruanr" >
</head>
<body>
<!-- Site heading information to identify the company and its purpose : showing on every page in the site -->
<header>
  <h1>Front and Back Yard Ideas</h1>
</header>
<!-- Main site navigation: showing on every page in the site -->
<nav>
<ul>
  <li>About Us</li>
  <li><a href="facts.html">facts.html — Talk about Why we need to bring up this topic.</a></li>
  <li><a href="watch.html">watch.html — Some videos and websites and images from external websites.</a></li>
  <li><a href="support.html">support.html — have some information for Material Resource.</a></li>
  <li><a href="home.html">home.html — Talk about Why we need to bring up this topic.</a></li>
</ul>
</nav>
<!-- Content particular to each page in the site: Add page content here -->
<section id="content">
<h2>About Us</h2>
  <ul>
    <li>Who we are</li>
    <li>Group profile</li>
    <li>More about us</li>
    <li>reference</li>
  </ul>
</section>
<!-- Overall site details: showing on every page in the site -->
<footer>
  <p>Thank your visiting </p>
</footer>
</body>
</html>
