<!DOCTYPE html>
<html lang=en>
<head>
<meta charset=utf-8>
<meta name="author" content="Gang Ruan" />
<!-- EDIT Page title below to add the name of the page after the colon, like "PRZ Law Offices:FAQs" to better identify the particular page in the browser -->
<title>html template for personal website </title>
<!--<link rel="stylesheet" href="styles/normalize.css" /> -->
<link rel="stylesheet" href="#" />
<link rel="stylesheet" href="#" type="text/css" />
<style>

</style>
</head>
<body>
<!-- Site heading information to identify the company and its purpose : showing on every page in the site -->
<header>
  <h1>#</h1>
  <h2>#</h2>
</header>
<!-- Main site navigation: showing on every page in the site -->
<nav>
<ol>
  <li><a href="#">XXX</a></li>
  <li><a href="#">XXX</a></li>
  <li><a href="#">XXX</a></li>
  <li><a href="#">XXX</a></li>
  <li><a href="#">XXX</a></li>
</ol>
 </nav>
<!-- Client navigation: showing on every page in the site -->
 <nav id="#">
   <p class="#">XXX</p>
    <ul>
      <li><a href="#" style="*">XXX</a></li>
      <li><a href="#" style="*">XXX</a></li>
    </ul>
</nav>
<!-- Content particular to each page in the site: Add page content in this section -->
<section id="#"> </section>
<!-- Overall site details: showing on every page in the site -->
<footer>
  <p>XXX <a href="#">XXX</a>XXX</p>
  <p>XXX</p>
</footer>
</body>
</html>